<!--
  Generated template for the CalculoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>CalculoBayesiano</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="calculoForm">
    <ion-item>
      <ion-label floating>C11</ion-label>
      <ion-input formControlName="c11"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>C12</ion-label>
      <ion-input formControlName="c12"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>P(Y1)</ion-label>
      <ion-input formControlName="py1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>estudioMercado</ion-label>
      <ion-input formControlName="estudioMercado"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>T1</ion-label>
      <ion-input formControlName="t11"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>T2</ion-label>
      <ion-input formControlName="t22"></ion-input>
    </ion-item>
    <div padding>
      <button ion-button block type="button" (click)="calcular()">Calcular</button>
    </div>
  </form>
  <div *ngIf="dx1"
       class="bloque">
    A)
    <table>
      <thead>
      <tr>
        <th>d(x1)</th>
        <th>Y1</th>
        <th>Y2</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>d(X1)</td>
        <td>C11 = {{c11}}</td>
        <td>C12 = {{c12}}</td>
      </tr>
      <tr>
        <td>d(X2)</td>
        <td>C21 = 0</td>
        <td>C22 = 0</td>
      </tr>
      <tr>
        <td>P(Yj)</td>
        <td>{{py1}}</td>
        <td>{{py2}}</td>
      </tr>
      </tbody>
    </table>
    <p>El costo sin realizar el estudio es de {{dx1}}</p>
  </div>

  <div *ngIf="b1t2y1"
       class="bloque">
    B1)
    <table>
      <thead>
      <tr>
        <th colspan="2">Y1</th>
        <th colspan="2">Y2</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Estudio favorable. Producto exitoso</td>
        <td>Estudio favorable. Producto fracaso</td>
        <td>Estudio desfavorable. Producto exitoso</td>
        <td>Estudio desfavorable. Producto fracaso</td>
      </tr>
      <tr>
        <td>t1 = {{b1t1y1}}</td>
        <td>t2 = {{b1t1y2}}</td>
        <td>t1 = {{b1t2y1}}</td>
        <td>t2 = {{b1t2y2}}</td>
      </tr>
      </tbody>
    </table>

    <div class="bloque"></div>

    <table>
      <thead>
      <tr>
        <th>P(Tk/Yj</th>
        <th>Y1</th>
        <th>Y2</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>t1</td>
        <td>{{b1t1y1}}</td>
        <td>{{b1t1y2}}</td>
      </tr>
      <tr>
        <td>t2</td>
        <td>{{b1t2y1}}</td>
        <td>{{b1t2y2}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="b2t1y1"
       class="bloque">
    B2)
    <div></div>
    <table>
      <thead>
      <tr>
        <th>P(Tk/Yj</th>
        <th>Y1</th>
        <th>Y2</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>t1</td>
        <td>{{b2t1y1}}</td>
        <td>{{b2t1y2}}</td>
        <td>{{b2t1}}</td>
      </tr>
      <tr>
        <td>t2</td>
        <td>{{b2t2y1}}</td>
        <td>{{b2t2y2}}</td>
        <td>{{b2t2}}</td>
      </tr>
      <tr>
        <td></td>
        <td>{{b2y1}}</td>
        <td>{{b2y2}}</td>
      </tr>
      </tbody>
    </table>
  </div>


  <div *ngIf="b3t1y1"
       class="bloque">
    B3)
    <table>
      <thead>
      <tr>
        <th>P(Tk/Yj</th>
        <th>Y1</th>
        <th>Y2</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>t1</td>
        <td>{{b3t1y1}}</td>
        <td>{{b3t1y2}}</td>
        <td>{{b3t1}}</td>
      </tr>
      <tr>
        <td>t2</td>
        <td>{{b3t2y1}}</td>
        <td>{{b3t2y2}}</td>
        <td>{{b3t2}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</ion-content>
