<!--
  Generated template for the CalculoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>CalculoBayesiano</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="calculoForm">
    <ion-item>
      <ion-label floating>C11</ion-label>
      <ion-input formControlName="c11"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>C12</ion-label>
      <ion-input formControlName="c12"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>P(Y1)</ion-label>
      <ion-input formControlName="py1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>estudioMercado</ion-label>
      <ion-input formControlName="estudioMercado"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>T1</ion-label>
      <ion-input formControlName="t11"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>T2</ion-label>
      <ion-input formControlName="t22"></ion-input>
    </ion-item>
    <div padding>
      <button ion-button block type="button" (click)="calcular()">Calcular</button>
    </div>
    <div *ngIf="dx1">
      A)
      <table>
        <thead>
        <tr>
          <th>d(x1)</th>
          <th>Y1</th>
          <th>Y2</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>d(X2)</td>
          <td>C11 = {{c11}}</td>
          <td>C12 = {{c12}}</td>
        </tr>
        <tr>
          <td>d(Y2)</td>
          <td>C21 = 0</td>
          <td>C22 = 0</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="t21">
    B1)
      <table>
       <thead>
       <tr>
         <th colspan="2">Y1</th>
         <th colspan="2">Y2</th>
       </tr>
       </thead>
        <tbody>
        <tr>
          <td>Estudio favorable. Producto exitoso</td>
          <td>Estudio favorable. Producto fracaso</td>
          <td>Estudio desfavorable. Producto exitoso</td>
          <td>Estudio desfavorable. Producto fracaso</td>
        </tr>
        <tr>
          <td>t1 = {{t11}}</td>
          <td>t2 = {{t12}}</td>
          <td>t1 = {{t21}}</td>
          <td>t2 = {{t22}}</td>
        </tr>
        </tbody>
      </table>
      <div></div>
      <table>
        <thead>
        <tr>
          <th>P(Tk/Yj</th>
          <th>Y1</th>
          <th>Y2</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>t1</td>
          <td>{{t11}}</td>
          <td>{{t12}}</td>
        </tr>
        <tr>
          <td>t2</td>
          <td>{{t21}}</td>
          <td>{{t22}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{{t11 + t12}}</td>
          <td>{{t21 + t22}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </form>
</ion-content>
